<div class="avatar-select-container">
 

    <img src="assets/profile1.png" class="preview-avatar" alt="Geselecteerde avatar"  />
  
    <h1 class="title">Choose your profile avatar</h1>
  
    <div class="avatar-grid">
      <img src="assets/avatar5.png" alt="Avatar 1" class="avatar-option" />
      <img src="assets/avatar2.png" alt="Avatar 2" class="avatar-option" />
      <img src="assets/avatar3.png" alt="Avatar 3" class="avatar-option" />
      <img src="assets/avatar4.png" alt="Avatar 4" class="avatar-option" />
      <img src="assets/profile1.png" alt="Avatar 5" class="avatar-option selected" />
      <img src="assets/avatar6.png" alt="Avatar 6" class="avatar-option" />
    </div>
  
    <div class="buttons">
      <button class="save">SAVE</button>
      <button class="back" routerLink="/profile">BACK</button>
    </div>
  </div>
  
