<div class="help-container">
    <h1>HELP & SUPPORT</h1>
  
    <div class="cards">
      <!-- Quick Guide -->
      <div class="card guide">
        <h2>Quick Guide</h2>
        <p> 1. Kies je avatar
            Op de avatar-selectiepagina kies je een personage dat jou vertegenwoordigt in het spel. Klik op de avatar die je wilt gebruiken en druk op "Save".
            <br>
             2. Selecteer een level
            Ga naar het level-selectiescherm en kies een level dat niet vergrendeld is.
            🔒 Vergrendelde levels worden beschikbaar na het voltooien van eerdere levels.
            <br>
            3. Speel het spel
            Gebruik je toetsenbord om je personage te besturen:
            <br>
            Pijl omhoog = springen
            <br>
            Pijl links = naar links lopen
            <br>
            Pijl rechts = naar rechts lopen
            <br>
            Verzamel gouden munten, vermijd vijanden en bereik de eindpoort!
        <br>
             4. Profiel & voortgang
            In het profielscherm kun je je gebruikersnaam aanpassen, je voortgang bekijken (bijvoorbeeld je huidige level), en je land selecteren.
            <br>
             5. Instellingen
            Via de instellingenpagina kun je het geluid en de muziek aan/uit zetten en je voorkeurstaal kiezen.
            <br>
             6. Hulp nodig?
            Bekijk de FAQ of stuur ons een bericht via het contactformulier onderaan deze pagina.
            
            Veel succes en plezier in Mushroom Quest! 🍄</p>
        <button class="back" routerLink="/">BACK</button>
      </div>
  
      <!-- FAQ & Contact -->
      <div class="card faq">
        <h2>FAQ</h2>
        <select>
          <option selected disabled>Hoe bewaar ik mijn voortgang?</option>
          <option>Meer vragen...</option>
        
        </select>
       
        
        <h2>Contact</h2>
        <textarea placeholder="Je bericht..."></textarea>
        <button class="send">Send</button>
      </div>
    </div>
  </div>
  