<div class="level-container">
    <h1 class="main-title">SELECT LEVEL</h1>
    <h2 class="sub-title">World 1</h2>
  
    <div class="level-navigation">
      <!-- Linkerpijl -->
      <a routerLink="/profile">
        <img src="assets/Polygon 2.png" alt="left arrow" class="arrow-icon" />
      </a>
  
      <!-- Levels -->
      <div class="grid">
        <button *ngFor="let level of levels" [disabled]="level.locked">
            <ng-container *ngIf="level.locked; else unlocked">
              <img src="assets/gesloten.png" alt="gesloten" width="24" height="24" />
            </ng-container>
            <ng-template #unlocked>
              {{ level.number }}
            </ng-template>
          </button>
          
      </div>
  
      <!-- Rechterpijl -->
      <a routerLink="/profile">
        <img src="assets/Polygon 1.png" alt="right arrow" class="arrow-icon" />
      </a>
    </div>
  </div>
  