<div class="level-container">
    <h1 class="main-title">SELECT LEVEL</h1>
    <h2 class="sub-title">World 1</h2>
  
    <div class="level-navigation">
      <!-- Linkerpijl -->
      <a routerLink="/map">
        <img src="assets/Polygon 2.png" alt="left arrow" class="arrow-icon" />
      </a>
  
      <!-- Levels -->
      <div class="grid">
        <ng-container *ngFor="let level of levels">
          <a *ngIf="!level.locked && level.number === 1" href="https://game-ux-design.onrender.com/" target="_blank">
            <button>
              {{ level.number }}
            </button>
          </a>
          
          <button *ngIf="!level.locked && level.number !== 1">
            {{ level.number }}
          </button>
      
          <button *ngIf="level.locked" disabled>
            <img src="assets/gesloten.png" alt="gesloten" width="24" height="24" />
          </button>
        </ng-container>
      </div>
      
  
      <!-- Rechterpijl -->
      <a>
        <img src="assets/Polygon 1.png" alt="right arrow" class="arrow-icon" />
      </a>
    </div>
  </div>
  